<%= render '/layouts/navbar' %>
<% planet = Planet.find(@booking.planet_id) %>
<% days = (Date.parse(@booking.end_date) - Date.parse(@booking.start_date)).to_f.truncate() %>
<div class="banner_show banner-down" style='background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("<%= cl_image_path planet.photo.key%>");'>
  <div class="container">
    <h1>Your booking request to <%= planet.name %> for has been submited!</h1>
  </div>
</div>

<div class="container justify-content-center text-center">
  <div>
  </div>
    <div class="booking-specifics pb-1" style="background-color: rgba(121, 121, 121, 0.474)">
      <div class="booking-specifics-guests d-flex ml-3">
      <div class="guests-and-price d-flex">
        <i class="fas fa-user mt-1 px-2 "></i><p><%= @booking.number_of_guests %></p>
      </div>
      <div class="price-info">
      <div class="booking-specifics-prices d-flex ml-3">
        <i class="fab fa-galactic-republic mt-1 px-2"></i><p><%= planet.price %>/night for <%= days %> nights</p>
      </div>
      </div>

    </div>
      <div class="booking-specifics-dates d-flex ml-3">
        <i class="far fa-calendar-alt mt-1 px-2"></i><p>Date of arrival - <%= @booking.start_date %></p>
      </div>
      <div class="booking-specifics-dates d-flex ml-3">
        <i class="far fa-calendar-alt mt-1 px-2"></i><p>Date of departure - <%= @booking.end_date %></p>
      </div>
      <div class="booking-specifics-prices d-flex ml-3 pb-0">
        <p class="px-2">Total price</p>
        <i class="fab fa-galactic-republic mt-1 px-2"></i><p> <%= planet.price * days %></p>
        <a type="button" class="btn btn-primary ml-3 mb-5" id="myBtn">Pay Now</a>
      </div>
      <%= link_to 'Manage my bookings', dashboard_path, class: "booking-linkss mr-3" %>
      <%= link_to 'Make another booking', planets_path, class: "booking-linkss ml-3" %>
    </div>
  </div>
</div>

<!-- Modal -->
<!-- Trigger/Open The Modal -->

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <img src="http://i0.wp.com/www.bradwarthen.com/wp-content/uploads/2019/12/trap.gif" alt="">
  </div>

</div>

<%# number of guests, date of arrival, date of departure, calculate price based on number of days %>
