<%= render '/layouts/navbar' %>
<div class="container justify-content-center edit-main">
<%= simple_form_for(@planet) do |f| %>
 <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :address , label: "Enter location of the portal" %>
  <%= f.input :price, label: "Price in Galactic Standard Credits per night" %>
  <%= f.input :guest_limit %>
  <%= f.input :photo, input_html: { class: 'd-none', id: 'photo-input'}, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
  <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
  <%= f.button :submit, class: 'btn btn-lg btn-primary btn-block mt-4', label: 'Edit Planet' %>
<% end %>
</div>
