<%= render '/layouts/navbar' %>
<!-- banner -->
<div class="banner_show" style='background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("<%= cl_image_path @planet.photo.key%>");'>
  <div class="container">
    <h1> <%= @planet.name %></h1>
    <!-- <p>Change your life and learn to code at one of our campuses around the world.</p> -->
    <!-- <a class="btn btn-flat" href="#">Apply now</a> -->
  </div>
</div>

<div class="container mt-5">

  <div class="d-flex">

  <!-- left title and description  -->
    <div class="planet-specifics">

      <!-- div with both avatar and name of the owner of the planet -->
      <div class="d-flex">

        <div class="avatar-img">
          <%= image_tag "https://freepngimg.com/thumb/toy_story/22981-7-toy-story-alien-file.png", class: "avatar", alt: "avatar" %>
        </div>

        <div class="planet-owner px-3 py-2">
          <h3> <%= User.find(@planet.user_id).email %> </h3>
        </div>
      </div>
        <div class="d-flex mx-2 mt-2">
          <div>
          <h4 class="mr-4"><i class="fas fa-user "></i>   x <%= @planet.guest_limit %></h4>
          </div>
          <div>
          <h4><i class="fab fa-galactic-republic "></i>   x <%= @planet.price %> per night</h4>
          </div>
        </div>

      <div class="planet-description py-3 text-justify mx-2">
        <p><%= @planet.description %></p>
      </div>

    </div>

    <!-- Form to make a booking -->
      <div class="booking-form shadow-sm p-3">
        <%= render 'bookings/new' %>
      </div>


  </div>
</div>
