<%= render '/layouts/navbar' %>
<div class="container-profile m-t-15">
  <div class="details d-flex" style="margin-top: 50px;">
    <div class="row">
      <div class="col-lg-12">
        <div class="card user-card">
          <div class="card-header">
          </div>
          <div class="card-block">
            <div class="user-image">
              <img src="https://www.pinclipart.com/picdir/big/54-545588_file-stormtrooperhelmeticon-star-wars-star-wars-stormtrooper-dessin.png" class="img-radius" alt="User-Profile-Image">
            </div>
            <h6 class="f-w-200 m-t-25 m-b-10">Name LName</h6>
            <hr>
            <p class="m-t-15" style="color: white;"><%= current_user.email %></p>
            <div class="bg-c-pink counter-block p-20" style="border-radius: 4px; margin-top: 27px;">
              <div class="row mt-2" style="margin-bottom: -5px;">
                <div class="col-4">
                  <i class="fas fa-globe-europe"></i>
                  <p><%= current_user.planets.count %></p>
                </div>
                <div class="col-4">
                  <i class="fas fa-book-open"></i>
                  <p><%= current_user.bookings.count %></p>
                </div>
                <div class="col-4">
                  <i class="far fa-bell"></i>
                  <% counter = 0 %>
                  <% current_user.planets.each do |planet| %>
                  <% counter += planet.bookings.count %>
                  <% end %>
                  <p><%= counter %></p>
                </div>
              </div>
            </div>
            <hr>
            <div class="row justify-content-center user-social-link">
              <%= link_to 'Edit', edit_user_registration_path(current_user), class: 'btn btn-outline-primary but' %>
              <%= link_to 'Delete Account',  user_registration_path(current_user), method: :delete, class: 'btn btn-outline-primary but' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tabs">
      <div class="tab-2">
        <label for="tab2-1">Your Planets</label>
        <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
        <div>
          <% @planets.each do |planet| %>
          <div class="card-product" style="margin-bottom: 16px;">
            <img src="<%= cl_image_path planet.photo.key %>" />
            <div class="card-product-infos">
              <div class="planet-name">
                <h2><%= planet.name %></h2>
              </div>
              <div class="actions hide">
                <a href="">Edit</a>
                <a href="">Delete</a>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="tab-2">
        <label for="tab2-2">Your Bookings</label>
        <input id="tab2-2" name="tabs-two" type="radio">
        <div>
          <h4 style="margin-bottom: 15px;">Planets booked by you :</h4>
          <% if @bookings.count > 0 %>
          <% @bookings.each do |booking| %>
          <% plant = Planet.find(booking.planet_id) %>
          <% days = (Date.parse(booking.end_date) - Date.parse(booking.start_date)).to_f.truncate() %>
          <div class="card-product" style="margin-bottom: 16px;">
            <%= link_to booking_path(booking) do %>
            <img src="<%= cl_image_path booking.planet.photo.key %>" />
            <% end %>
            <div class="card-product-infos">
              <div class="planet-name">
                <h2><%= booking.planet.name %></h2>
                <p><%= booking.start_date %> | <%= booking.end_date %></p>
                <div class="d-flex">
                  <i class="fab fa-galactic-republic mt-1 px-2"></i><p> <%= plant.price * days %></p>
                  <i class="fas fa-user mt-1 px-2 "></i><p><%= booking.number_of_guests %></p>
                </div>
                <h4><%= booking.status %></h4>
              </div>
              <div class="actions hide">
                <% daysleft = (Date.parse(booking.start_date) < Date.today) %>
                <%= link_to 'Edit', edit_booking_path(booking) %>
                <%= link_to 'Cancel', booking_path(booking, booking: { status: "Cancelled" }), method: :patch %>
              </div>
            </div>
          </div>
          <% end %>
          <% else %>
            <p style="font-size: 15px;">You haven't done any bookings yet. <%= link_to 'Book now!', planets_path %></p>
          <% end %>
          <div>
            <h4 style="margin-top: 70px; margin-bottom: 15px;">Booking requests: </h4>
            <% if @booked_planets.empty? %>
              <p style="font-size: 15px;">Your planets don't have any bookings yet</p>
            <% else %>
            <% @booked_planets.each do |planet| %>
              <div class="card-product" style="margin-bottom: 16px;">
              <img src="<%= cl_image_path planet.photo.key %>" />
              <div class="card-product-infos">
                  <div class="planet-name">
                    <h2><%= planet.name %></h2>
                    <% planet.bookings.each do |booking| %>
                    <p><%= booking.start_date %> | <%= booking.end_date %></p>
                    <div class="d-flex">
                      <i class="fas fa-user mt-1 px-2 "></i><p><%= booking.number_of_guests %></p>
                    </div>
                    <h4><%= booking.status %></h4>
                  </div>
                  <div class="actions hide">
                    <% if booking.status != "Accepted" %>
                    <%= link_to "Accept booking", booking_path(booking, booking: { status: "Accepted" }), method: :patch %>
                    <% end %>
                    <% if booking.status != "Rejected" %>
                    <%= link_to "Reject booking", booking_path(booking, booking: { status: "Rejected" }), method: :patch %>
                    <% end %>
                  </div>
                  <% end %>
                </div>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
