<%= render '/layouts/navbar' %>
<div class="container-profile">
  <div class="details d-flex">
    <div class="row">
      <div class="col-lg-12">
        <div class="card user-card">
          <div class="card-header">
          </div>
          <div class="card-block">
            <div class="user-image">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-radius" alt="User-Profile-Image">
            </div>
            <h6 class="f-w-200 m-t-25 m-b-10">Name LName</h6>
            <hr>
            <p class="m-t-15" style="color: white;"><%= current_user.email %></p>
            <div class="bg-c-pink counter-block p-20" style="border-radius: 4px; margin-top: 27px;">
              <div class="row mt-2" style="margin-bottom: -5px;">
                <div class="col-4">
                  <i class="fa fa-comment"></i>
                  <p><%= current_user.planets.count %></p>
                </div>
                <div class="col-4">
                  <i class="fa fa-user"></i>
                  <p>123</p>
                </div>
                <div class="col-4">
                  <i class="fa fa-suitcase"></i>
                  <p>1</p>
                </div>
              </div>
            </div>
            <hr>
            <div class="row justify-content-center user-social-link">
              <%= link_to 'Edit', edit_user_registration_path(current_user), class: 'btn btn-outline-primary but' %>
              <%= link_to 'Delete Account',  user_registration_path(current_user), method: :delete, class: 'btn btn-outline-primary but' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tabs">
      <div class="tab-2">
        <label for="tab2-1">Your Planets</label>
        <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
        <div>
          <% @planets.each do |planet| %>
          <div class="card-product">
            <img src="<%= cl_image_path planet.photo.key %>" />
            <div class="card-product-infos">
              <div class="planet-name">
              <h2><%= planet.name %></h2>
              </div>
              <div class="actions hide">
              <a href="">Edit</a>
              <a href="">Delete</a>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="tab-2">
        <label for="tab2-2">Your Bookings</label>
        <input id="tab2-2" name="tabs-two" type="radio">
        <div>
          <h4>Planets booked by you :</h4>
          <p>Quisque sit amet turpis leo. Maecenas sed dolor mi. Pellentesque varius elit in neque ornare commodo ac non tellus. Mauris id iaculis quam. Donec eu felis quam. Morbi tristique lorem eget iaculis consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean at tellus eget risus tempus ultrices. Nam condimentum nisi enim, scelerisque faucibus lectus sodales at.</p>
          <div>
            <h4>Booking requests: </h4>
            <p>Quisque sit amet turpis leo. Maecenas sed dolor mi. Pellentesque varius elit in neque ornare commodo ac non tellus. Mauris id iaculis quam. Donec eu felis quam. Morbi tristique lorem eget iaculis consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean at tellus eget risus tempus ultrices. Nam condimentum nisi enim, scelerisque faucibus lectus sodales at.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
